body{
    background-color: rgb(241, 241, 241);
}

p{
    font-family: 'Be Vietnam Pro', sans-serif;
    margin: 5px;
}

h1{
    font-family: 'Be Vietnam Pro', sans-serif;
    margin: 5px;
}

label{
    font-family: 'Be Vietnam Pro', sans-serif;
    margin: 5px;
    margin-bottom: 0;
}

.text-input{
    width: 414px;
    height: 45px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    border: 1px solid rgb(192, 192, 192);
    transition-duration: 60ms;
}

.text-input:focus{
    outline: 4px solid rgb(180, 225, 255);
    border: 1px solid rgb(125, 157, 255);
}

.center-card{
    flex: 1 0 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-card {
    background-color: rgb(255, 255, 255);
    display: block;
    padding: 4px;
    box-shadow: 0px 0px 8px rgb(156, 156, 156);;
    color: rgb(7, 11, 22);
    border-radius: 10px;
    width: 440px;
    padding-bottom: 10px;
    padding-top: 5px;
    border-right: 8px solid rgb(91, 132, 255);
}

.genderselect{
    cursor: pointer;
    height: 36px;
    width: 14px;
    margin: 0;
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 12px;
}

.gender{
    border: 1px solid rgb(192, 192, 192);
    display: inline-block;
    flex: 1 0 auto;
    height: 36px;
    text-align: left;
    width: auto;
    position: relative;
    margin: 8px 6px 6px;
    padding: 0px;
    font-size: 15px;
    border-radius: 5px;
}

.gender-label{
    cursor: pointer;
    font-size: 15px;
    line-height: 25px;
    padding: 0 20px 0 10px;
    width: 93%;
}

.genderselect:focus{
    outline: none;
}

.gender-sel-width{
    display: flex;
    flex-wrap: wrap;
    width: 425px;
    margin-top: 0;
}

.button{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 300px;
}

@media (max-width:500px){
    .register-card{
        width: 350px;
        border: 1px solid rgb(194, 194, 194);
        box-shadow: none;
    }
    .text-input{
        width: 320px;
    }
    .genderspan{
        width: 330px;
    }
}